<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stupid Test</title>
</head>
<body class="bg-slate-100 p-4">
    <h1 class="my-4 mb-8 text-3xl font-semibold w-full">Stupid psycology test.</h1>
    <div class="m-4 py-4 px-8 w-max flex flex-col justify-center">
        <ul class="list-disc">
            ##QUIZ_LIST##
            <!-- <li class="my-4"><a href="#" class="text-xl underline">Êtes vous Communiste?</a></li> -->
        </ul>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>