<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stupid Test</title>
    <link rel="stylesheet" href="asset/style.css">
</head>
<body class="p-4 bg-slate-100">
    <h1 class="w-full my-4 mb-8 text-3xl font-semibold hover:underline"><a href="/index.html">Stupid psycology test.</a></h1>
    <div class="flex flex-col justify-center px-8 py-4 m-4 w-max">
        <ul class="list-disc">
            ##QUIZ_LIST##
            <!-- <li class="my-4"><a href="#" class="text-xl underline">Êtes vous Communiste?</a></li> -->
        </ul>
    </div>
</body>
</html>