<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/style.css">
    <title>Stupid Test</title>
</head>
<body class="bg-slate-100 p-4">
    <h1 class="my-4 mb-8 text-3xl font-semibold w-full">Stupid psycology test.</h1>
    <div id="question-container" class="border rounded m-4 py-4 px-8 w-2/3 border-gray-300 flex flex-col justify-center">
        <h2 class="my-4 text-2xl font-semibold">##QUIZ_NAME##</h2>

        <p id="question" class="my-4 text-xl" data-weight="placeholder">placeholder</p>

        <div class="ml-4 my-8 flex gap-6 place-items-center">
            <span class="font-semibold text-xl text-[#88619a]">Pas d'accord</span>
            <input type="radio" name="choice" value="-3" class="appearance-none transition rounded-full border-[#88619a] h-16 w-16 border-[3px] hover:bg-[#88619a] checked:bg-[#88619a]"></input>
            <input type="radio" name="choice" value="-2" class="appearance-none transition rounded-full border-[#88619a] h-14 w-14 border-[3px] hover:bg-[#88619a] checked:bg-[#88619a]"></input>
            <input type="radio" name="choice" value="-1" class="appearance-none transition rounded-full border-[#88619a] h-12 w-12 border-[3px] hover:bg-[#88619a] checked:bg-[#88619a]"></input>
            <input type="radio" name="choice" value="0" class="appearance-none transition rounded-full border-slate-500 h-10 w-10 border-[3px] hover:bg-slate-500 checked:bg-slate-500"></input>
            <input type="radio" name="choice" value="1" class="appearance-none transition rounded-full border-[#33a474] h-12 w-12 border-[3px] hover:bg-[#33a474] checked:bg-[#33a474]"></input>
            <input type="radio" name="choice" value="2" class="appearance-none transition rounded-full border-[#33a474] h-14 w-14 border-[3px] hover:bg-[#33a474] checked:bg-[#33a474]"></input>
            <input type="radio" name="choice" value="3" class="appearance-none transition rounded-full border-[#33a474] h-16 w-16 border-[3px] hover:bg-[#33a474] checked:bg-[#33a474]"></input>
            <span class="font-semibold text-xl text-[#33a474]">D'accord</span>
        </div>

        <div class="flex justify-end">
            <button id="continue" class="border rounded px-4 py-2 my-4 border-gray-400 w-36">
                Continuer
            </button>
        </div>
    </div>

    <div id="result-container" class="hidden border rounded m-4 py-4 px-8 w-2/3 border-gray-300 flex flex-col justify-center">
        <h2 class="my-4 text-2xl font-semibold">##QUIZ_NAME## - Résultat</h2>
        <h3 class="text-xl my-2">Vous êtes <span id="result" class="font-semibold">Communiste</span> !</h3>
        <p id="result-desc">long desc</p>
    </div>

    <script>
        const questions = [##QUESTIONS_JS_OBJECTS##]
        const results = ##RESULTS_JS_OBJECT##
        const anwsers = []

        const questionContainer = document.getElementById("question-container")
        const resultContainer = document.getElementById("result-container")

        const choices = document.getElementsByName("choice")
        const continueBtn = document.getElementById("continue")
        const questionText = document.getElementById("question")

        const resultText = document.getElementById("result")
        const resultDesc = document.getElementById("result-desc")

        questionText.innerHTML = questions[0].name
        questionText.dataset.weight = questions[0].weight

        continueBtn.addEventListener("click", (e) => {
            e.preventDefault()

            let anwser = null
            const questionWeight = questionText.dataset.weight
            for (const choice of choices) {
                if (choice.checked) {
                    anwser = parseInt(choice.value);
                    choice.checked = false
                }
            }

            if (null == anwser) {
                return // No radio checked
            }

            anwsers.push({score: anwser, weight: questionWeight})

            if (anwsers.length < questions.length) {
                let question = questions[anwsers.length]
                questionText.innerHTML = question.name
                questionText.dataset.weight = question.weight
            } else {
                questionContainer.classList.add("hidden")
                resultContainer.classList.remove("hidden")

                const finalScore = anwsers.reduce((sum, item) => sum + item.score * item.weight, 0)
                
                if (finalScore > 2) {
                    resultText.innerHTML = results.agree.name
                    resultDesc.innerHTML = results.agree.desc
                } else if (finalScore < -2) {
                    resultText.innerHTML = results.disagree.name
                    resultDesc.innerHTML = results.disagree.desc
                } else {
                    resultText.innerHTML = results.neutral.name
                    resultDesc.innerHTML = results.neutral.desc
                }
            }
        })

    </script>
</body>
</html>